<p>Mašinos numeris: {{ carNumber }}</p>
<div *ngIf="location; else noLocation">
    <p>Pasirinkite savo buvimo vietą, tempkite "žymeklį". Kad Jūsų vieta būtų kuo tikslesnė, įjunkite GPS.</p>
    <agm-map 
    [latitude]="location.latitude"
    [longitude]="location.longitude"
    [zoom]="zoom">
        <agm-marker 
        [latitude]="location.latitude"
        [longitude]="location.longitude"
        [markerDraggable]=true
        title="Jūsų vieta"
        (dragEnd)="onDragEnd($event)"
        ></agm-marker>
    </agm-map>
    <br>
</div>
<ng-template #noLocation>
    <p>Negalima nustatyti Jūsų buvimo vietos.</p>
</ng-template>
<div class="text-center">
    <button (click)="onButtonClickNext()" class="btn btn-success" type="button">Toliau</button>
</div>
